{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<center>
<h1 style=" font-size: 48px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;">{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>


<form class="signup form-horizontal" style="width: 400px;" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{form.as_p}}
  <!--
  <div class="form-group">
    <label class="col-sm-2 control-label" for="id_username">Username </label>
    <div class="col-sm-10">
      <input autofocus="autofocus" class="form-control" id="id_username" maxlength="150" minlength="1" name="username" placeholder="Username" type="text" required />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="id_email">E-mail (optional) </label>
    <div class="col-sm-10">
      <input class="form-control" id="id_email" name="email" placeholder="E-mail address" type="email" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="id_password1">Password </label>
    <div class="col-sm-10">
      <input class="form-control" id="id_password1" name="password1" placeholder="Password" type="password" required />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="id_password2">Password (again) </label>
    <div class="col-sm-10">
      <input class="form-control" id="id_password2" name="password2" placeholder="Password (again)" type="password" required />
    </div>
  </div>
-->
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-default">{% trans "Sign Up" %} &raquo;</button>
</form>


</center>


{% endblock %}
