{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Goto Go Trainer</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/wgo/wgo.js"></script>
  <script type="text/javascript" src="/static/wgo/kifu.js"></script>
  <script type="text/javascript" src="/static/wgo/sgfparser.js"></script>
  <script type="text/javascript" src="/static/wgo/player.js"></script>
  <script type="text/javascript" src="/static/wgo/basicplayer.js"></script>
  <script type="text/javascript" src="/static/wgo/basicplayer.component.js"></script>
  <script type="text/javascript" src="/static/wgo/basicplayer.infobox.js"></script>
  <script type="text/javascript" src="/static/wgo/basicplayer.commentbox.js"></script>
  <script type="text/javascript" src="/static/wgo/basicplayer.control.js"></script>
  <script type="text/javascript" src="/static/wgo/player.editable.js"></script>
  <script type="text/javascript" src="/static/wgo/scoremode.js"></script>
  <script type="text/javascript" src="/static/wgo/player.permalink.js"></script>
  <script type="text/javascript" src="/static/extensions/tsumego/tsumego.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/extensions/tsumego/tsumego.css" />
  <style type="text/css">
  .right-side{
    	margin-left:3%;
  		margin-right: 1%;
  		width: 45%;
  		text-align:center;
  	float:left;
    }
   .dialog{
     background-image: url("../../static/bubble.png");
     background-size: 100% 100%;
     padding-top: 4%;
     padding-bottom: 15%;
     width: 100%;
     text-align:center;
   }
   p{
    text-align:center;
    padding: 2%;
   }
   .btn{
   		padding: .5%;
   }
   img{
   		margin-top: 0px;
   		margin-left: 20px;
    	transform: scale(-1, 1);
    	height: 20 em;
    	width 20em;
    	float:left;
    }
    .buts{
    	padding-bottom: 1%;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">

    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a href="/journey"><span class="glyphicon glyphicon-user"></span> Journey Map</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <!---<li><a href="accounts/password/change/">Password Change</a></li>
            <li><a href="accounts/password/set/">Password Set</a></li>
            <li><a href="accounts/password/reset/">Password Reset</a></li>
            <li><a href="accounts/email/">Account Email</a></li>
            <li><a href="accounts/confirm-email/">Confirm Email</a></li>-->
            <li><a href="/account/profile/">View Profile</a></li>
            <li><a href="/account/settings/">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/account/logout/">Logout</a></li>
          </ul>
      </li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="http://senseis.xmp.net/" target="_blank"><span class="glyphicon glyphicon-book"></span> Go Library</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">

<h1> Tutorial Area </h1>

</div>

{% block content %}{% endblock %}

</body>
</html>
