{% extends "tutorial/tutorial_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h2> Illegal Moves </h2>

<a href="/journey/tutorial/3">
  <p id = "text"> Previous step </p>
</a>

<a href="/journey/tutorial/5">
  <p> Next step </p>
</a>

</div>

{% endblock %}
