{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="go-logo">
      <img src="{% static 'go_logo.jpg'%}">
    </a>
    <h1>Goto Go Trainer</h1>
    <p>A website to guide you through the journey of Go</p>
    {% if user.is_authenticated %}
      <p style="font-size: 36px;">Welcome back {{ user.username }}</p>
    {% else %}
     <p>
	    <a type="button" class="btn btn-lg btn-primary" href="account/signup">Sign up</a>
        <a type="button" class="btn btn-lg btn-primary" href="account/login">Sign in</a>
      </p>
    {% endif %}
      <a type="button" class="btn btn-lg btn-success" href="journey/">Get started</a>
  </div>
{% endblock %}
