{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0E0E0D;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 800px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: black;
    background: -moz-linear-gradient(black, black);
    background: -webkit-linear-gradient(black, black);
    background: -o-linear-gradient(black, black);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
  }


  /* entire container, keeps perspective */
  .flip-container {
  	perspective: 1000px;
  	transform-style: preserve-3d;
  }
  	/*  UPDATED! flip the pane when hovered */
  	.flip-container:hover .back {
  		transform: rotateY(0deg);
  	}
  	.flip-container:hover .front {
  	    transform: rotateY(180deg);
  	}

  .flip-container, .front, .back {
  	width: 400px;
  	height: 400px;
  }

  /* flip speed goes here */
  .flipper {
  	transition: 0.6s;
  	transform-style: preserve-3d;

  	position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
  	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

  	transition: 0.6s;
  	transform-style: preserve-3d;

  	position: absolute;
  	top: 0;
  	left: 0;
  }
  .back{
    background-color: black;
    color: white;
  }

  /*  UPDATED! front pane, placed above back */
  .front {
  	z-index: 2;
  	transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back {
  	transform: rotateY(-180deg);
  }

  /*
  	Some vertical flip updates
  */
  .vertical.flip-container {
  	position: relative;
  }

  	.vertical .back {
  		transform: rotateX(180deg);
  	}

  	.vertical.flip-container:hover .back {
  	    transform: rotateX(0deg);
  	}

  	.vertical.flip-container:hover .front {
  	    transform: rotateX(180deg);
  	}




</style>


<div class="container">


<h2>Journey Map</h2>

<h3>Time to learn Go! Start by clicking on the uppermost circle in Tutorial Island.</h3>


</div>
<br>


<center>
<div>
<table>

  <tr bgcolor="black">
    <td align="center">
      <font color="#E9E6E5">
      Tutorial Island
      </font>
    </td>
    <td align="center">
      <font color="#E9E6E5">
      Island of Life
    </font>
    </td>
    <td align="center">
      <font color="#E9E6E5">
      Island of Death
    </font>
    </td>
  </tr>

  <tr>
    <td align="center">

      <div id = "tutIsland" class="flip-container" ontouchstart="this.classList.toggle('hover');">
      	<div class="flipper">
      		<div class="front">
            <a href="#openModal">
              <img src="../static/tutorial_island.jpg" width="400" height="400">
            </a>
          </div>
          <a href="#openModal">
      		<div class="back">
      			<!-- back content -->
            <font size="5 ">
            <p>
              The island for newcomers! This island covers the basic rules of the game and assumes no prior knowledge.
            </p>
          </font>
      		</div>
        </a>
      	</div>
      </div>




      <div id="openModal" class="modalDialog">
        <div>	<a href="#close" title="Close" class="close">X</a>
          <svg width ="600" height ="531">
            <defs>
              <radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:rgb(255, 255, 255); stop-opacity:0">
                  <animate attributeName="stop-color" values="rgb(255, 255, 255); rgb(255, 51, 51)" dur="2s" fill="freeze" repeatCount="indefinite" />
                </stop>
                <stop offset="100%" style="stop-color:rgb(245, 1, 1); stop-opacity:1" />
              </radialGradient>

              <radialGradient id="green" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:rgb(51, 153, 102); stop-opacity:0">
                  <animate attributeName="stop-color" values="rgb(51, 153, 102); rgb(0, 255, 153)" dur="2s" fill="freeze" repeatCount="indefinite" />
                </stop>
                <stop offset="100%" style="stop-color:rgb(153, 255, 102); stop-opacity:1" />
              </radialGradient>

              <radialGradient id="yellow" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:rgb(255, 255, 10); stop-opacity:0">
                  <animate attributeName="stop-color" values="rgb(255, 255, 10); rgb(155, 155, 153)" dur="2s" fill="freeze" repeatCount="indefinite" />
                </stop>
                <stop offset="100%" style="stop-color:rgb(255, 255, 10); stop-opacity:1" />
              </radialGradient>

            </defs>

            <image x="0" y="0" width ="600" height ="531" xlink:href="../static/tutorial_island.jpg"/>

            <circle  id ="node1" onclick="clicked(evt)" cx ="110" cy ="120" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad1)" />

            <line stroke-dasharray="10, 10" x1="130" y1="120" x2="320" y2="155" stroke="white" stroke-width="3"></line>

            <circle id ="node2" onclick="clicked(evt)" cx ="340" cy ="155" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad1)"/>
            <line stroke-dasharray="10, 10" x1="340" y1="175" x2="210" y2="240" stroke="white" stroke-width="3"></line>


            <circle id ="node3" onclick="clicked(evt)" cx ="190" cy ="240" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad1)"/>
            <line stroke-dasharray="10, 10" x1="210" y1="240" x2="240" y2="320" stroke="white" stroke-width="3"></line>


            <circle id ="node4" onclick="clicked(evt)" cx ="240" cy ="340" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad1)"/>
            <line stroke-dasharray="10, 10" x1="260" y1="340" x2="363" y2="266" stroke="white" stroke-width="3"></line>


            <circle id ="node5" onclick="clicked(evt)" cx ="383" cy ="266" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad1)"/>
            <line stroke-dasharray="10, 10" x1="403" y1="266" x2="480" y2="460" stroke="white" stroke-width="3"></line>


            <circle id ="node6" onclick="clicked(evt)" cx ="500" cy ="460" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad1)"/>

          </svg>
        </div>
      </div>
    </td>
    <td align="center">

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="#openModal2">
              <img src="../static/life_island.jpg" width="400" height="400">
            </a>
          </div>
          <a href="#openModal2">
          <div class="back">
            <!-- back content -->
            <font size="5 ">
            <p>
              Once the basics are known, it is important to make sure your own soldiers stay alive! This island discuss concepts relating to living.

            </p>
          </font>
          </div>
        </a>
        </div>
      </div>

      <div id="openModal2" class="modalDialog">
        <div>	<a href="#close" title="Close" class="close">X</a>
          <svg width ="600" height ="810">

            <defs>
              <radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:rgb(255, 255, 255); stop-opacity:0">
                  <animate attributeName="stop-color" values="rgb(255, 255, 255); rgb(0, 0, 0)" dur="2s" fill="freeze" repeatCount="indefinite" />
                </stop>
                <stop offset="100%" style="stop-color:rgb(0, 0, 0); stop-opacity:1" />
              </radialGradient>
            </defs>

            <image x="0" y="0" width ="100%" height ="80%" xlink:href="../static/life_island.jpg"/>

            <circle id ="tip" cx ="380" cy ="100" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup" x="270" y="50" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip.mouseover" end="tip.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="380" y1="120" x2="250" y2="140" stroke="white" stroke-width="3"></line>


            <circle id ="tip2" cx ="250" cy ="160" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup2" x="290" y="160" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip2.mouseover" end="tip2.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="250" y1="180" x2="300" y2="280" stroke="white" stroke-width="3"></line>



            <circle id ="tip3" cx ="300" cy ="300" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup3" x="330" y="280" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip3.mouseover" end="tip3.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="320" y1="300" x2="410" y2="360" stroke="white" stroke-width="3"></line>



            <circle id ="tip4" cx ="410" cy ="380" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup4" x="170" y="380" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip4.mouseover" end="tip4.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="410" y1="400" x2="450" y2="480" stroke="white" stroke-width="3"></line>



            <circle id ="tip5" cx ="450" cy ="500" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup5" x="300" y="540" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip5.mouseover" end="tip5.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="430" y1="500" x2="210" y2="510" stroke="white" stroke-width="3"></line>



            <circle id ="tip6" cx ="190" cy ="510" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup6" x="70" y="550" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip6.mouseover" end="tip6.mouseout"/>
            </text>


          </svg>
        </div>
      </div>
    </td>
    <td align="center">

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="#openModal3">
              <img src="../static/death_island.jpg" width="400" height="400">
            </a>
          </div>
          <a href="#openModal3">
          <div class="back">
            <!-- back content -->
            <font size="5 ">
            <p>
              Once the basics are known, it is important to know when your enemies can be attacked and killed! This island discuss concepts relating to the death of your enemies!
            </p>
          </font>
          </div>
        </a>
        </div>
      </div>

      <div id="openModal3" class="modalDialog">
        <div>	<a href="#close" title="Close" class="close">X</a>
          <svg width ="600" height ="500">

            <defs>
              <radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:rgb(255, 255, 255); stop-opacity:0">
                  <animate attributeName="stop-color" values="rgb(255, 255, 255); rgb(0, 0, 0)" dur="2s" fill="freeze" repeatCount="indefinite" />
                </stop>
                <stop offset="100%" style="stop-color:rgb(0, 0, 0); stop-opacity:1" />
              </radialGradient>
            </defs>

            <image x="0" y="0" width ="100%" height ="100%" xlink:href="../static/death_island.jpg"/>

            <circle id="tip7" cx ="100" cy ="200" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)" />
            <text id="popup7" x="5" y="300" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip7.mouseover" end="tip7.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="120" y1="200" x2="230" y2="300" stroke="white" stroke-width="3"></line>



            <circle id="tip8" cx ="250" cy ="300" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup8" x="120" y="340" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip8.mouseover" end="tip8.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="270" y1="300" x2="380" y2="240" stroke="white" stroke-width="3"></line>




            <circle id="tip9" cx ="400" cy ="240" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup3" x="290" y="308" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip9.mouseover" end="tip9.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="420" y1="240" x2="500" y2="308" stroke="white" stroke-width="3"></line>




            <circle id="tip10" cx ="520" cy ="308" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup10" x="360" y="340" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip10.mouseover" end="tip10.mouseout"/>
            </text>



          </svg>
        </div>
      </div>
    </td>
  </tr>

  <tr bgcolor ="black">
    <td align="center">
      <font color="#E9E6E5">
      Concept 3
    </font>
    </td>
    <td align="center">
      <font color="#E9E6E5">
      Concept 4
    </font>
    </td>
    <td align="center">
      <font color="#E9E6E5">
      Concept 5
    </font>
    </td>
  </tr>

  <tr>
    <td align="center">

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="#openModal4">
              <img src="../static/island1.jpg" width="400" height="400">
            </a>
          </div>
          <a href="#openModal4">
          <div class="back">
            <!-- back content -->
            <font size="5">
            <p>
              New Content Coming Soon!
            </p>
          </font>
          </div>
        </a>
        </div>
      </div>

      <div id="openModal4" class="modalDialog">
        <div>	<a href="#close" title="Close" class="close">X</a>
          <svg width ="600" height ="550">

            <defs>
              <radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:rgb(255, 255, 255); stop-opacity:0">
                  <animate attributeName="stop-color" values="rgb(255, 255, 255); rgb(0, 0, 0)" dur="2s" fill="freeze" repeatCount="indefinite" />
                </stop>
                <stop offset="100%" style="stop-color:rgb(0, 0, 0); stop-opacity:1" />
              </radialGradient>
            </defs>

            <image x="0" y="0" width ="100%" height ="100%" xlink:href="../static/island1.jpg"/>

            <circle id="tip11" cx ="380" cy ="125" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)" />
            <text id="popup11" x="360" y="155" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip11.mouseover" end="tip11.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="360" y1="125" x2="220" y2="160" stroke="white" stroke-width="3"></line>

            <circle id="tip12" cx ="200" cy ="160" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup12" x="50" y="120" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip12.mouseover" end="tip12.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="200" y1="180" x2="250" y2="250" stroke="white" stroke-width="3"></line>

            <circle id="tip13" cx ="250" cy ="270" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup13" x="20" y="250" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip13.mouseover" end="tip13.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="270" y1="270" x2="390" y2="230" stroke="white" stroke-width="3"></line>

            <circle id="tip14" cx ="410" cy ="230" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup14" x="360" y="190" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip14.mouseover" end="tip14.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="410" y1="250" x2="190" y2="380" stroke="white" stroke-width="3"></line>

            <circle id="tip15"cx ="190" cy ="400" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup15" x="40" y="440" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip15.mouseover" end="tip15.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="210" y1="400" x2="380" y2="400" stroke="white" stroke-width="3"></line>

            <circle id="tip16" cx ="400" cy ="400" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup16" x="360" y="440" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip16.mouseover" end="tip16.mouseout"/>
            </text>


          </svg>
        </div>
      </div>
    </td>
    <td align="center">

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="#openModal5">
              <img src="../static/island2.jpg" width="400" height="400">
            </a>
          </div>
          <a href="#openModal5">
          <div class="back">
            <!-- back content -->
            <font size="5">
            <p>
              New Content Coming Soon!
            </p>
          </font>
          </div>
        </a>
        </div>
      </div>

      <div id="openModal5" class="modalDialog">
        <div>	<a href="#close" title="Close" class="close">X</a>
          <svg width ="600" height ="550">

            <defs>
              <radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:rgb(255, 255, 255); stop-opacity:0">
                  <animate attributeName="stop-color" values="rgb(255, 255, 255); rgb(0, 0, 0)" dur="2s" fill="freeze" repeatCount="indefinite" />
                </stop>
                <stop offset="100%" style="stop-color:rgb(0, 0, 0); stop-opacity:1" />
              </radialGradient>
            </defs>

            <image x="0" y="0" width ="100%" height ="100%" xlink:href="../static/island2.jpg"/>

            <circle id="tip17" cx ="180" cy ="200" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)" />
            <text id="popup17" x="40" y="240" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip17.mouseover" end="tip17.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="180" y1="180" x2="300" y2="100" stroke="white" stroke-width="3"></line>

            <circle id="tip18" cx ="320" cy ="100" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup18" x="210" y="60" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip18.mouseover" end="tip18.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="320" y1="120" x2="300" y2="250" stroke="white" stroke-width="3"></line>

            <circle id="tip19" cx ="300" cy ="270" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup19" x="190" y="310" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip19.mouseover" end="tip19.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="320" y1="270" x2="390" y2="230" stroke="white" stroke-width="3"></line>

            <circle id="tip20" cx ="410" cy ="230" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup20" x="340" y="190" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip20.mouseover" end="tip20.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="430" y1="230" x2="480" y2="320" stroke="white" stroke-width="3"></line>

            <circle id="tip21" cx ="480" cy ="340" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup21" x="240" y="340" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip21.mouseover" end="tip21.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="480" y1="360" x2="350" y2="420" stroke="white" stroke-width="3"></line>

            <circle id="tip22" cx ="330" cy ="420" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup22" x="90" y="420" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip22.mouseover" end="tip22.mouseout"/>
            </text>


          </svg>
        </div>
      </div>
    </td>
    <td align="center">

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="#openModal6">
              <img src="../static/island3.jpg" width="400" height="400">
            </a>
          </div>
          <a href="#openModal6">
          <div class="back">
            <!-- back content -->
            <font size="5">
            <p>
              New Content Coming Soon!
            </p>
          </font>
          </div>
        </a>
        </div>
      </div>

      <div id="openModal6" class="modalDialog">
        <div>	<a href="#close" title="Close" class="close">X</a>
          <svg width ="600" height ="826">

            <defs>
              <radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:rgb(255, 255, 255); stop-opacity:0">
                  <animate attributeName="stop-color" values="rgb(255, 255, 255); rgb(0, 0, 0)" dur="2s" fill="freeze" repeatCount="indefinite" />
                </stop>
                <stop offset="100%" style="stop-color:rgb(0, 0, 0); stop-opacity:1" />
              </radialGradient>
            </defs>

            <image x="0" y="0" width ="100%" height ="90%" xlink:href="../static/island3.jpg"/>

            <circle id="tip23" cx ="480" cy ="50" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)" />
            <text id="popup23" x="300" y="20" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip23.mouseover" end="tip23.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="480" y1="70" x2="530" y2="130" stroke="white" stroke-width="3"></line>

            <circle id="tip24" cx ="530" cy ="150" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup24" x="350" y="180" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip24.mouseover" end="tip24.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="510" y1="150" x2="325" y2="100" stroke="white" stroke-width="3"></line>

            <circle id="tip25" cx ="305" cy ="100" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup25" x="170" y="70" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip25.mouseover" end="tip25.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="285" y1="100" x2="150" y2="170" stroke="white" stroke-width="3"></line>

            <circle id="tip26" cx ="150" cy ="190" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup26" x="170" y="179" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip26.mouseover" end="tip26.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="170" y1="190" x2="340" y2="250" stroke="white" stroke-width="3"></line>

            <circle id="tip27" cx ="360" cy ="250" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup27" x="260" y="220" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip27.mouseover" end="tip27.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="360" y1="270" x2="200" y2="330" stroke="white" stroke-width="3"></line>

            <circle id="tip28" cx ="200" cy ="350" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup28" x="90" y="390" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip28.mouseover" end="tip28.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="220" y1="350" x2="380" y2="390" stroke="white" stroke-width="3"></line>

            <circle id="tip29" cx ="400" cy ="390" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup29" x="270" y="350" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip29.mouseover" end="tip29.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="400" y1="410" x2="330" y2="480" stroke="white" stroke-width="3"></line>

            <circle id="tip30" cx ="330" cy ="500" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup30" x="90" y="500" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip30.mouseover" end="tip30.mouseout"/>
            </text>
            <line stroke-dasharray="10, 10" x1="330" y1="520" x2="370" y2="650" stroke="white" stroke-width="3"></line>

            <circle id="tip31" cx ="370" cy ="670" r = "20" stroke = "black" stroke-width = "2" fill = "url(#grad2)"/>
            <text id="popup31" x="120" y="670" font-size="15" fill="white" visibility="hidden">
              You are not ready to enter here.
              <set attributeName="visibility" from="hidden" to="visible" begin="tip31.mouseover" end="tip31.mouseout"/>
            </text>



          </svg>
        </div>
      </div>
    </td>
  </tr>

</table>

<script>
  var pos = "{{position}}";
  var num = parseInt(pos.split("node")[1]);
  function clicked(evt) {
    var evtNum = parseInt(evt.target.id.split("node")[1]);
    if (evtNum <= num+1)
      window.location = '/journey/tutorial/'+evt.target.id.split("node")[1];
  }

  var i;
  for (i = 1; i < num+1; i++)
    document.getElementById("node"+i).setAttribute('fill', 'url(#green)');

  document.getElementById("node"+i).setAttribute('fill', 'url(#yellow)');





</script>

<br>



{% endblock %}
